<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <style>
        body {
            background-color: #333333;
        }

        th {
            color: white;
        }

        td {
            color: white;
        }
    </style>
</head>
<body>
<h1>All Accounts</h1>
<p><a href="/">Index Page</a></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <!--        <th>Institution</th>-->
        <th>Balance</th>
        <th>Alias</th>
        <th>Type</th>
        <th>Last Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${accounts}">
        <td>
            <span th:if="${entity.getType() == 'mortgage'}">
                <a th:href="@{/mortgage/{id}(id=${entity.getId()})}" th:text="${entity.getId()}"></a>
            </span>
            <span th:unless="${entity.getType() == 'mortgage'}" th:text="${entity.getId()}"></span>
        </td>

        <td th:text="${entity.getName()}"></td>
        <!--        <td th:text="${entity.institution}"></td>-->
        <td th:text="${entity.getBalance()}"></td>
        <td th:text="${entity.getAlias()}"></td>
        <td th:text="${entity.getType()}"></td>
        <td th:text="${entity.getLastUpdated()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
