<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Account List</title>
</head>
<body>
<div th:fragment="selectAccountList(currentValue)">
    <!--        For some reason id and name fields are required to make the list select the original value as default.-->
    <select class="form-control" id="accountsDropDownList" name="accountsDropDownList">
        <option th:each="option : ${accounts}" th:value="${option.getId()}"
                th:selected="${currentValue == option.getId()}" th:text="${option.getName()}"></option>
    </select>
</div>
</body>
</html>
