<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>
<h1>All Categories</h1>
<p><a href="/">Index Page</a></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Parent Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${categories}">
        <td th:text="${entity.getId()}"></td>
        <td th:text="${entity.getName()}"></td>
<!--        TODO parent_category is the wrong name-->
        <td th:text="${entity.getParent()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
