<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imported Transactions</title>
</head>
<body>
<h1>Imported Transactions</h1>
<p><a href="/">Index Page</a></p>
<table>
    <thead>
    <tr>
        <!--        <th>ID</th>-->
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Account</th>
        <th>Mail Message Id</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${transactions}">
        <!--        <td th:text="${entity.id}"></td>-->
        <td th:text="${entity.getDate()}"></td>
        <td th:text="${entity.getDescription()}"></td>
        <td th:text="${entity.getAmount()}"></td>
        <td th:text="${entity.getTransactionType()}"></td>
        <td th:include="categoryDropdownList :: selectCategoriesList(${entity.getCategory().getId()})"></td>
        <td th:text="${entity.getMerchant().getName()}"></td>
        <td th:text="${entity.getAccount().getName()}"></td>
        <td th:text="${entity.getMailMessageId()}"></td>
        <td th:text="${entity.getNotes()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
