<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
</head>
<body>
<h1>Last 10 Entities</h1>
<p><a href="/">Index Page</a></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Category</th>
<!--        <th>Vendor</th>-->
<!--        <th>Account</th>-->
        <th>Mail Message Id</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${transactions}">
        <td th:text="${entity.id}"></td>
        <td th:text="${entity.date}"></td>
        <td th:text="${entity.description}"></td>
        <td th:text="${entity.amount}"></td>
        <td th:text="${entity.transactionType}"></td>
        <td th:include="categoryDropdownList :: selectList(${entity.category.getId()})"></td>
<!--        <td th:text="${entity.transactionType}"></td>-->
<!--        <td th:text="${entity.transactionType}"></td>-->
        <td th:text="${entity.mailMessageId}"></td>
        <td th:text="${entity.notes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
